@charset "utf-8";
/* CSS Document */
/* 页面初始化 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p{ margin:0; padding:0; box-sizing:border-box; font-weight:normal;}
body{ font-family:"微软雅黑","Microsoft Yahei"; font-size:14px; color:#333;}
ol,ul,li{ list-style:none;}
a { text-decoration: none; }
a { outline: none;color:#333;}
img{ border:none;}
.clearfix:after{content: "."; display: block; height:0; clear:both; visibility: hidden;}
.w_1360{ width:1100px; margin:0 auto;}
.fl { float: left; }
.fr { float: right;}

/*nav*/
.navBar{width:100%;height:118px;background:white;}
.navBar-top{height:30px;background:#c00000;line-height:30px;}
.navBar-top div{color:white;}
.navBar-top span{width:224px;}
.navBar-top i{font-style:normal;width:184px;}
.navBar-top .car{color:white;background:url(../images/car.png) no-repeat left center;height:30px;padding-left:30px;width:100px;}
.regLogin{width:150px;position:relative;}
.regLogin>a{color:white;}
.regLogin strong{font-weight:normal;cursor:pointer;}
.loginBox{width:230px;height:188px;padding-left:30px;position:absolute;border:1px solid #e5e7eb;right:82px;bottom:-190px;background:white;z-index: 888888;display:none;}
.loginBox h5{height:42px;line-height:42px;font-size:14px;color:#898989;}
.text, .password{height:23px;border:1px solid #e5e7eb;padding-left:5px;font-size:12px;width:188px;}
.loginBox p{padding-left:5px;width:198px;}
.loginBox p input{margin-top: 9px;}

.submit{width:188px;height:28px;border: 1px solid #bc5b5b;background:#f75151;cursor:pointer;color:white;font-size:14px;}
.passfor{color:#2a2d74;}



.nav-btm-logo span{background:url(../images/logo.png) ;display:inline-block;width:354px;height:62px;margin-top:13px;text-indent:-99999999em;}
.nav-btm{height:88px;margin:0 auto;width:1280px;}
.nav-btm-list{margin-top:26px;}
.nav-btm-li{float:left;width:100px;}
.nav-btm-list li.width68{width:68px;}
.nav-btm-li a{display:block;line-height:38px;height:38px;text-align: center;font-size:16px;width:100%;}
.nav-btm-sons a{font-size:14px;width:100%;}
.nav-btm-sons{border:1px solid #ddd;position:relative;z-index: 8888;background:white;border-top: none;width:100%;box-sizing:border-box;}
.nav-btm-list ul{visibility:hidden;}
.nav-btm-list li.ok .nav-btm-sons{visibility:visible;}
.nav-btm-sons a:hover{background:#c00000;color:white;}
.nav-btm-li:hover span{color:#c00000;}
/*.nav-btm-right{margin-right:2%;}*/
.nav-btm-contact{margin-top:34px;margin-left:20px;}
.nav-btm-contact .search{position:relative;cursor:pointer;}
.nav-btm-contact .search span{background:url(../images/search.png) no-repeat;display:inline-block;width:32px;height:32px;}
.nav-btm-contact .search span:hover{background:url(../images/search_red.png) no-repeat;}
.nav-btm-contact .search div{position:absolute;left:-330%;bottom:-164%;width:240px;height:40px;background:rgba(255,255,255,0.66);z-index: 888;display:none;}
.nav-btm-contact .search div input{width:200px;text-align:center;line-height:40px;background:none;color:white;font-size:14px;}
.nav-btm-contact .search div button{background: url(../images/search-small2.png) no-repeat center center;display:inline-block;border:0;width:40px;height:40px;}
.nav-btm-contact .wechat{position:relative;margin-left:18px;margin-right:18px;cursor:pointer;}
.nav-btm-contact .wechat span{background: url(../images/wechat.png) no-repeat;display:inline-block;width:32px;height:32px;}
.nav-btm-contact .wechat span:hover{background: url(../images/wechat_red.png) no-repeat;}
.nav-btm-contact .wechat img{display:none;position:absolute;left:-290%;bottom:-554%;z-index: 889;}



/* banner */
.banner{ width:100%;background-repeat: no-repeat;background-position: center top;background-size: cover; position:relative;}
@media (max-width:1300px){
	/*     p1  关于鲁班   */
	.about_luban{ background:url(../images/lb12.jpg) no-repeat center top;}
	/*     p2   新闻中心  */
	.news_center{ background:url(../images/xw12.jpg) no-repeat center top;}
	/*     p3   BIM平台  */
	.BIM_PT{ background:url(../images/pt12.jpg) no-repeat center top;}
	/*     P4   BIM方案  */
	.BIM_FA{ background:url(../images/fa12.jpg) no-repeat center top;}
	/*     P5   加入我们  */
	.join_us{ background:url(../images/jr12.jpg) no-repeat center top;}
	/*     P6  下载中心  */
	.download{ background:url(../images/xz12.jpg) no-repeat center top;}
	/*     p7   BIM平台视频  */
	.BIM_PT2{ background:url(../images/ptsp12.jpg) no-repeat center top;}
	}
@media (min-width:1300px){
	/*     p1  关于鲁班   */
	.about_luban{ background:url(../images/lb19.jpg) no-repeat center top;}
	/*     p2   新闻中心  */
	.news_center{ background:url(../images/xw19.jpg) no-repeat center top;}
	/*     p3   BIM平台  */
	.BIM_PT{ background:url(../images/pt19.jpg) no-repeat center top;}
	/*     P4   BIM方案  */
	.BIM_FA{ background:url(../images/fa19.jpg) no-repeat center top;}
	/*     P5   加入我们  */
	.join_us{ background:url(../images/jr19.jpg) no-repeat center top;}
	/*     P6  下载中心  */
	.download{ background:url(../images/xz19.jpg) no-repeat center top;}
	/*     p7   BIM平台视频  */
	.BIM_PT2{ background:url(../images/ptsp19.jpg) no-repeat center top;}
	}


.banner_title{ height:100%; position:relative;}
.banner_title img{ position:absolute; bottom:0px;}

/**字体样式**/
h3{ font-size:18px; height:18px; line-height:18px;}
h4{ font-size:16px; height:16px; line-height:16px;}
.textRed{color:#ce3d3a;}
.textWhite{color:#fff;}
.textCenter{ text-align:center; clear:both;}
.textBlue{ color:#477aac; font-size:14px; text-decoration:underline; display:block; margin-top:30px;}
.imgCenter{ display:block; margin:20px auto;}
.txtIndent{ text-indent:2em;}
p{ line-height:20px;}
.aU{ text-decoration:underline; display:block; margin-bottom:30px;}
.bl{ clear:both; height:15px;}
.p20{ padding-left:20px;}
/* NAV */
ul.listNav{ margin:34px 0px 70px; width:100%; border-bottom:1px solid #ddd; border-left:1px solid #ddd; position:relative;}
ul.listNav li{ float:left; border-right:1px solid #ddd; border-top:1px solid #ddd;}
ul.listNav li a{ text-align:center; font-size:16px; width:136px; height:48px; line-height:48px; display:block;}
ul.listNav li.active a{ background:#ce3d3a; color:#fff;}
.list_box{ display:none; padding-bottom:100px;}
ul.listNav .navList2{ position:absolute; padding:30px 0px; background:url(../images/ico_03.png) no-repeat 60px 1px;border:0px; top:49px;}
ul.listNav .navList2 li {border:0px;background:none;padding:0px 12px; border-right:2px solid #ce3d3a; font-size:14px; color:#666;cursor:pointer; height:16px; line-height:16px;}
ul.listNav .navList2 li:hover{ color:#ce3d3a;}
ul.listNav .navList2 li.active{ color:#ce3d3a; background:none;}
/*     p1  关于鲁班   */
/* content  */
/*品牌*/
.LB_list{ padding:29px 0px; border-bottom:1px solid #ddd;}
.LB_list:hover{ background:#eee;transition:background 0.5s;-moz-transition:background 0.5s; /* Firefox 4 */-webkit-transition:background 0.5s; /* Safari and Chrome */-o-transition:background 0.5s;}
.LB_list img{ margin:10px 42px;}
.LB_list .text_right{ width:790px; margin-left:198px;}
.LB_list .text_right h4{ font-weight:bolder;}
/*企业文化*/
.cultureBox{ border-left:6px solid #ce3d3a; height:164px; width:538px; background:#ededed; margin:40px 0px 0px; padding:18px 20px; overflow:hidden; line-height:20px;}
.cultureBox b{ min-width:70px; display:inline-block;}
.kw5 span{ padding:0px 10px; font-size:18px; border-bottom:1px solid #ce3d3a; margin-right:65px;}
.kw5{margin:35px 0px 45px}
/*联系我们*/
dl.contact{ font-size:18px; margin-bottom:25px;}
dl.contact dt{line-height:18px; border-left:5px solid #ce3d3a; padding-left:20px; font-size:18px; width:212px; float:left;}
dl.contact dd{ position:relative; padding-left:50px; margin-bottom:28px; margin-left:212px;}
.contact i{ display:block; position:absolute; left:5px;}
.ico_home{ height:26px; width:26px; background:url(../images/ico.png) no-repeat 0px 0px;}
.ico_add{ height:26px; width:26px; background:url(../images/ico.png) no-repeat 0px -26px;}
.ico_tel{ height:26px; width:26px; background:url(../images/ico.png) no-repeat 0px -52px;}
.ico_em{ height:26px; width:26px; background:url(../images/ico.png) no-repeat 0px -78px;}
.ico_phone{ height:26px; width:26px; background:url(../images/ico.png) no-repeat 0px -104px;}
dl.contact dd.f_left{ margin:0px; width:370px;}
.zlhb div{ width:192px; height:192px; border:1px solid #ddd; float:left; margin-right:28px; margin-bottom:28px; padding:22px;}
.zlhb div img{ width:100%;}

/*董事长*/
.dsz{ background:url(../images/dsz01.png) no-repeat; padding:0px 15px 0px 715px; height:292px; margin-bottom:54px; position:relative; overflow:hidden;}
.dszBox{ position:absolute; top:0px; padding-right:10px;}
.dt24{ font-size:24px; margin-bottom:5px;}
.dsz p{ line-height:23px;}
.textDsz .txtIndent{ line-height:36px; font-size:16px;}
.dszBar{ position:absolute; right:0px; top:0px; height:72px; width:5px; background:#ce3d3a; z-index:999;}

.aboutLB{ background:url(../images/aboutLB_img1.png) no-repeat; height:384px; margin-bottom:50px; padding:97px 0 0 85px;}
.LBtext{ padding:35px 68px 25px;}
.bgRed{ background:#ce3d3a; color:#fff;}
.LBtext p.txtIndent{line-height:20px; font-size:14px; margin-bottom:15px;}
.bgImg{ background:#ce3d3a url(../images/aboutLB_img2.png) no-repeat 10px 13px; padding-left:366px;}
.aboutLB .dt24{ margin-bottom:30px; color:#fff;}
.aboutLB h3{ line-height:24px; height:24px; color:#fff;}
.logoL{ margin-bottom:55px;}
.logoBox1{ background:url(../images/logo01.png) no-repeat; height:302px; clear:both; margin-bottom:30px;}
.logoBox1,.logoBox2{ padding:40px 0 0 45px; color:#000;}
.logoBox2{ background:url(../images/logo02.png) no-repeat; height:432px; padding-right:435px;}
.logoBox1 h4,.logoBox2 h4{ margin-bottom:15px;}
.logoBox1 p,.logoBox2 p{ margin-bottom:10px; line-height:20px;}
/*荣誉历程*/
.line01{ background:url(../images/line01.png) no-repeat center center; height:125px;}
.line02{ background:url(../images/line02.png) repeat-y top center;}
.text01,.text02{ padding:30px 0;}
.text01{ margin-left:468px;}
.text02{ margin-left:0px;}
.text02 .rylcText{ text-align:right;}
.rylcText{ line-height:16px; width:523px; overflow:hidden;}
.rylcText img{ margin-top:10px;}
.year{ font-size:16px; color:#e60012; font-weight:bolder;}
.icon{ background:url(../images/line03.png) no-repeat center center; padding:12px 26px;}
.line01 span,.line02 span{ float:left;}



/*     p2    */
/*     p2   新闻中心  */
ul.news{ margin-bottom:0px;}
.news_title{ margin-top:40px; border-bottom:1px solid #ddd; padding-bottom:20px;}
.news_left{ padding-right:20px; float:left; width:770px; border-right:1px solid #ddd; margin-bottom:20px;}
.news_right{ float:right; width:330px; padding:21px 0 0 21px;}
.news_right a{display:block; margin-bottom:10px;}
.news_right a img{ width:100%;}
.news_scrollImg{ margin-top:48px;overflow:hidden; height:189px; position:relative; padding-bottom:48px;}
.news_scrollImg img{ margin-left:28px;}
.news_scrollImg h4{ margin-top:10px; font-weight:bolder;}
.news_scrollImg h4{ margin-bottom:6px; font-weight:bolder;}
.news_scrollImg p{ height:80px; overflow:hidden;}
.news_scrollImg ul{ position:absolute; left:0px; top:0px;}
.news_scrollImg ol{ position:absolute; z-index:999; bottom:20px; left:300px;}
.news_scrollImg ul li{ float:left; width:749px; height:141px;}
.news_scrollImg ol li{ height:10px; width:10px; border-radius:100%; background:#ddd; float:left; margin:4px;}
.news_scrollImg ol li.active{ background:#ea3737;}
.news_list_box{ border-top:1px solid #ddd; margin:20px 10px 0px 0px;}
.news_list_box .news_list{ padding:32px 0px 26px; border-bottom:1px solid #ddd;}
.news_list_box .news_list:hover{ background:#ddd;transition:background 0.5s;-moz-transition:background 0.5s; /* Firefox 4 */-webkit-transition:background 0.5s; /* Safari and Chrome */-o-transition:background 0.5s; }
.news_list_box .date{ float:left; width:88px; height:88px; background:#ddd; padding:5px;}
.news_list_box .date span{ display:block; text-align:left;}
.news_list_box .date span.ym{font-size:16px; line-height:16px;}
.news_list_box .date span.d{ color:#fb0b0b; font-size:48px; line-height:48px; font-weight:500;}
.news_list_box .text1{ padding:0px 70px 0px 15px; overflow:hidden; height:88px;}
.news_list_box .text p{ color:#999; margin-top:10px;}
.page{ margin:80px auto 35px; text-align:center;}
.page,.page a,.page span{ color:#333; padding:10px; font-size:16px; font-weight:bold;}
.page input{ padding:2px; border:1px solid #bdbdbd; width:45px;}
.page .active{ color:#c00505;}
.page a:hover{ color:#89c3d0;}
/*     p3   BIM平台  */
/* content  */
.BIM_pt_content{ overflow:hidden;}
.BIM_pt_content h3{ margin-bottom:11px; font-weight:bolder;}
.BIM_pt_content img.f_left{ margin:0px 15px 30px 0px;}
.redBtn{ background:#ea3737; color:#fff; padding:5px 20px; margin:10px;}
.bgRed20{ background:#ea3737; color:#fff; font-size:20px; text-align:center; margin:47px 0 27px 0px; height:30px; line-height:30px; font-weight:bolder;}
.h38{ height:38px; line-height:38px;}
.nub{ display:inline; padding-right:75px; border-bottom:2px solid #ea3737;}
hr{ background:#ea3737; height:1px; border:0px; margin:30px auto;}
.pt p{ margin-bottom:30px;}
.m100{ margin-left:100px;}
.m50{ margin-left:50px;}
.tabBox .tabHead{ display:inline; padding:10px 15px; background:#ddd; border-top:2px solid #ddd; float:left; border-right:1px solid #cbcbcb; border-bottom:1px solid #cbcbcb; position:relative; z-index:10;cursor:pointer;}
.tabBox .tabHead.active{ background:#fff; border-top:2px solid #ea3737; color:#ea3737; border-bottom:1px solid #fff;}
.tabBox .tabBody{ clear:both; border-top:1px solid #cbcbcb; position:relative; top:-1px; z-index:8; padding:25px 0px; display:none;}
.pt_list{ border-bottom:1px solid #ddd; cursor:pointer;}
.pt_list:hover{ background:#eee;}
.pt_list{ padding-top:20px; padding-right:110px;}
.pt_list img{ margin:14px 40px 34px 106px; float:left;}
.pt_list h4{ font-weight:bolder; margin:0px 0px 7px;}
.pt_list h4 span{ font-size:12px; padding-left:10px;}
.plBox{ width:800px; margin:0 auto; position:relative;}
.plBox img{ position:absolute; top:30%; left:30%;}
.plBox video{ position:absolute; width:100%; display:none; height:100%;}
/**bim方案**/

/*业主*//*施工*/
.yzfdiv{ height:239px; margin-bottom:28px; padding:33px 530px 0px 33px;}
.sgfdiv{ height:239px; margin-bottom:28px; padding:33px 500px 0px 33px;}
.yzfdiv p,.sgfdiv p{ color:#fff;}
.yzf01{ background:url(../images/yzfbg_03.png); margin-top:50px;}
.yzf02{ background:url(../images/yzfbg_06.png);}
.yzf03{ background:url(../images/yzfbg_08.png);}
.yzf04{ background:url(../images/yzfbg_10.png);}
.yzf05{ background:url(../images/yzfbg_12.png);}
.yzf06{ background:url(../images/yzfbg_14.png);}
.yzf07{ background:url(../images/yzfbg_16.png);}
.yzfdiv h4,.sgfdiv h4{ margin-bottom:10px;}
.sgf01{ background:url(../images/sgf_06.png);}
.sgf02{ background:url(../images/sgf_09.png);}
.sgf03{ background:url(../images/sgf_12.png);}
.sgf04{ background:url(../images/sgf_15.png);}
.sgf05{ background:url(../images/sgf_17.png);}
.sgf06{ background:url(../images/sgf_19.png);}
.sgf07{ background:url(../images/sgf_21.png); padding:33px 15px 0px 33px;}
.sgf07 .f_left{ width:587px;}
.sgf07 .f_right{ width:440px;}
.sgf07 .f_right p{ color:#333;}

/*服务*/
.alList{ margin-bottom:30px;}
.alList li{ float:left; width:364px; height:209px; overflow:hidden; margin-right:2px; margin-bottom:2px; position:relative;cursor:pointer}
.alList li span{ position:absolute; top:0px; left:0px; display:block; padding:167px 0px 24px; color:#fff; text-align:center; width:100%; background:url(../images/bg_03.png) no-repeat center center; display:none;}
.alList li:hover span{ display:block;}
.list2_box{ display:none; padding:60px 0px;}
.stitle{ padding:45px 0px 10px; display:block;}
.qfw p{ width:480px;}
.qfw h5{ height:30px; line-height:30px; font-size:14px;}
/*join us*/
table{border-collapse:collapse; font-size:16px;}
.joinus{ width:100%; margin:0 auto;}
.joinus th{ font-weight:normal;}
.joinus thead{ background:#015b8b; height:48px; line-height:48px; color:#fff;}
.joinus td{ width:20%; line-height:47px; height:47px; text-align: center;border-bottom:1px dashed #a7a7a7;}
.joinus td a:hover{ color:#015b8b; text-decoration:underline;}
.joinus tbody{ font-size:14px;}
.listNub{ height:32px; line-height:32px; font-size:16px}
.listNub img{ margin-right:10px; float:left;}
.textM{ padding:0 3em; margin:20px 0px; color:#666;}
.abImg{ width:1100px; height:400px; margin:60px auto; overflow:hidden;}
.abImg ul{ position:relative; margin:60px auto; width:460px; height:320px;}
.abImg li{ position:absolute; left:0px; top:0px;width:100%; height:100%; opacity:0;
	transform:perspective(800px) rotateY(0); transition:1s all ease;}
.abImg li img{ width:100%;}

.abImg ul li.l1{ z-index:1; opacity:0.4;transform:perspective(800px) translateX(-300px) rotateY(45deg)}
.abImg ul li.cur{ z-index:5; opacity:1;}
.abImg ul li.r1{ z-index:1;opacity:0.4;transform:perspective(800px) translateX(300px) rotateY(-45deg)}

/*joinUs _detail*/

.container80per{margin:0 auto;line-height:24px;margin-top: 84px;}
.container80per .tit1{width:350px;height:50px;background:#ce3d3a;color:white;text-align: center;line-height:50px;}
.container80per h4{font-size:16px;}
.recruitTags{margin:30px 0 10px;padding:20px 98px;background:#ebebeb; }
.recruitTags ul{overflow:hidden;width:100%;height:100%;}
.recruitTags ul li{float:left;width:24%;height:38px;line-height:38px;}
.recruitDescribe{padding-left:98px;background:#ebebeb;}
.recruitDescribe h4{height:50px;padding-top:28px;}
.recruitDescribe ul{padding-bottom:50px; }
.recruitDescribe p{height:37px;line-height:37px;}
.contactMethod {padding-left:98px;margin-top: 58px;}
.contactMethod p, .contactMethod a{height:24px;line-height:24px;}
.contactMethod h4{margin-bottom: 8px;}
.contactMethod a{text-align: right;display:block;}
.contactMethod .back span{background: url(../images/back.png) no-repeat;width:16px;height:13px;display:inline-block;}
.navList2{ display:none;}
.mail{ margin:0px 98px; color:#666; padding-left:30px; background:url(../images/toujianli.png) no-repeat left center;}
.mail:hover{background:url(../images/toujianlired.png) no-repeat left center; color:#ce3d3a;}

/*  下载中心*/
.downLoadBox{ width:347px; height:245px; overflow:hidden; position:relative; border:1px solid #ddd; border-top:6px solid #ce3d3a; padding:20px 30px; float:left; margin-right:19px; margin-bottom:20px;}
.downLoadB{ background:#ddd; height:55px; position:absolute;bottom:0px; width:100%; left:0px;}
.downLoadB span{ font-size:16px;}
.downLoadB span a{margin:0px; height:55px; line-height:55px; padding:0px 30px;display:block; width:100%;}
.addmore{ clear:both; display:block; height:50px; background:#ddd url(../images/look1.png) no-repeat center top;}
.addmore:hover{background:#ce3d3a url(../images/look2.png) no-repeat center top;}
.addmore2{ clear:both; display:block; height:50px; background:#ddd url(../images/look3.png) no-repeat center center;}
.addmore2:hover{background:#ce3d3a url(../images/look4.png) no-repeat center center;}
.downLoadTitle{ font-size:16px; font-weight:bold; line-height:30px;}
.gd_1100{ width:100%; margin:0px 0px 30px; height:245px;}
.textCenter p{ margin:6px;}
.centerText{ width:844px; margin:0 auto;}
.centerText span{ text-align: left; font-size:16px; display:block;}
.HidBox{ height:0px; overflow:hidden;}
.HidBox span{ margin:5px 0px 20px;}
.HidBox h3{ font-size:16px; margin:30px 0px 10px;}

/* search */
.searchBox{ width:1000px; margin:0 auto;}
.searchText{ float:left; width:800px; height:60px; border:4px solid #ce3d3a;}
.searchText input{ border:0px; width:100%; height:52px; line-height:52px; padding:20px;}
.searchBtn{ float:right; width:180px; height:60px; background:#ce3d3a url(../images/searchBg.png) no-repeat center center;}
.searchUl{ margin:15px auto;}
.searchUl li{ padding:15px 0px; border-bottom:1px solid #dfdfdf;}
.searchUl li h3{ color:#0829d2; margin-bottom:10px;}

/* foot */
.bg_blue{ background:#015b8b; padding:40px 0px;}
.footer_nav dl{ width:157px;color:#fff; display:block; float:left; height:250px;}
.footer_nav dl dt{ font-size:18px; height:27px; line-height:27px;}
.footer_nav dl dd a{ color:#75b3c5; font-size:14px; height:24px; line-height:24px;}
.footer_nav dl dd a:hover{ text-decoration:underline;}
.bg_gray{ background:#7c7c7c; border-bottom:3px solid #c0c2cc; padding:20px 0px;}
.company li{ color:#bcbcbc; font-size:13px; line-height:22px;}
.company li h3{ color:#d3d3d3; font-size:17px; padding-bottom:10px;}
.company li h4{ font-size:14px; text-align:left; width:300px;}
.f_right{ float:right;}
.f_left{ float:left;}
.company .w_1360{ text-align:center; font-size:14px; font-weight:bolder;}
.company .w_1360 img{ margin:4px 4px -6px;}

