/*clear default style*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; border: 0;color:#000000; }
body { font-size: 14px; font-family:"微软雅黑", "宋体";overflow-x: hidden; }
ul, ol ,li{ list-style: none; }
select, input, img { vertical-align: middle; outline: none; }
a { text-decoration: none; }
a { outline: none;color:#000000; }
html { overflow-x: hidden; }
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
img{display:block;}





/*top banner start*/
.advt{background:url(../images/top_banner.jpg) no-repeat left center;height:580px;width:100%;transition:.8s all ease;position:relative;z-index: 999;}
.advt span{position:absolute;right:2%;top:0;font-size:64px;cursor:pointer;}
/*top banner end*/


/*nav*/
.navBar{width:100%;height:118px;background:white;}
.navBar-top{height:30px;background:#c00000;line-height:30px;}
.navBar-top div{color:white;}
.navBar-top span{width:224px;}
.navBar-top i{font-style:normal;width:184px;}
.navBar-top .car{color:white;background:url(../images/car.png) no-repeat left center;height:30px;padding-left:30px;width:100px;}
.regLogin{width:150px;position:relative;}
.regLogin>a{color:white;}
.regLogin strong{font-weight:normal;cursor:pointer;}
.loginBox{width:230px;height:188px;padding-left:30px;position:absolute;border:1px solid #e5e7eb;right:82px;bottom:-190px;background:white;z-index: 888888;display:none;}
.loginBox h5{height:42px;line-height:42px;font-size:14px;color:#898989;}
.text, .password{height:23px;border:1px solid #e5e7eb;padding-left:5px;font-size:12px;width:188px;}
.loginBox p{padding-left:5px;width:198px;}
.loginBox p input{margin-top: 9px;}

.submit{width:188px;height:28px;border: 1px solid #bc5b5b;background:#f75151;cursor:pointer;color:white;font-size:14px;}
.passfor{color:#2a2d74;}



.nav-btm-logo span{background:url(../images/logo.png) ;display:inline-block;width:354px;height:62px;margin-top:13px;text-indent:-99999999em;}
.nav-btm{height:88px;margin:0 auto;width:1280px;}
.nav-btm-list{margin-top:26px;}
.nav-btm-li{float:left;width:100px;}
.nav-btm-list li.width68{width:68px;}
.nav-btm-li a{display:block;line-height:38px;height:38px;text-align: center;font-size:16px;width:100%;}
.nav-btm-sons a{font-size:14px;width:100%;}
.nav-btm-sons{border:1px solid #ddd;position:relative;z-index: 8888;background:white;border-top: none;width:100%;box-sizing:border-box;}
.nav-btm-list ul{visibility:hidden;}
.nav-btm-list li.ok .nav-btm-sons{visibility:visible;}
.nav-btm-sons a:hover{background:#c00000;color:white;}
.nav-btm-li:hover span{color:#c00000;}
/*.nav-btm-right{margin-right:2%;}*/
.nav-btm-contact{margin-top:34px;margin-left:20px;}
.nav-btm-contact .search{position:relative;cursor:pointer;}
.nav-btm-contact .search span{background:url(../images/search.png) no-repeat;display:inline-block;width:32px;height:32px;}
.nav-btm-contact .search span:hover{background:url(../images/search_red.png) no-repeat;}
.nav-btm-contact .search div{position:absolute;left:-330%;bottom:-164%;width:240px;height:40px;background:rgba(255,255,255,0.66);z-index: 888;display:none;}
.nav-btm-contact .search div input{width:200px;text-align:center;line-height:40px;background:none;color:white;font-size:14px;}
.nav-btm-contact .search div button{background: url(../images/search-small2.png) no-repeat center center;display:inline-block;border:0;width:40px;height:40px;}
.nav-btm-contact .wechat{position:relative;margin-left:18px;margin-right:18px;cursor:pointer;}
.nav-btm-contact .wechat span{background: url(../images/wechat.png) no-repeat;display:inline-block;width:32px;height:32px;}
.nav-btm-contact .wechat span:hover{background: url(../images/wechat_red.png) no-repeat;}
.nav-btm-contact .wechat img{display:none;position:absolute;left:-290%;bottom:-554%;z-index: 889;}


/*banner*/
*{padding:0;margin:0;}
.banner{width:100%;height:570px;position:relative;}
.videoContainer{ position: absolute;top: 0px;left: 50%;max-width: initial;width: 1920px;height:100%;margin-left: -960px;overflow:hidden;
}
.video-element{ object-fit: initial;width:100%;position: absolute;top: -50%;}
.banner .video-light{background:url(../images/video-light1.png) repeat;width:100%;height:100%;position:absolute;left:0;top:0;}
/*product*/
.product-top{height:260px;text-align:center;color:#d2d2d2;}
.product-top h2{font-size:30px;padding-top:80px;color:#d2d2d2;}
.product-top h3{font-size:48px;color:#d2d2d2;}
.product-top h4{width:100px;font-size:24px;color:#c00000;border-bottom:2px solid #c00000 ;margin:0 auto;}

.product-btm{height:340px;min-width:1280px;}
.product-btm ul{width:100%;height:100%;}
.product-btm li{width:33.3333%;height:100%; visibility: visible;cursor:pointer;}
.product-btm li:hover img{transform: scale(1.1);transition: all 1s ease;}

.pro-a{position:relative;width:100%;height:100%;display:inline-block;background: #015b8b;}
.product-btm .pic{height:100%;overflow:hidden;}
.proPosition{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;background:rgba(0,0,0,.3);}
.proPosition:hover{background:rgba(0,91,139,0.7);transition:.8s all ease;}
.proPosition:hover h3{transition:.5s all ease;width:50%;}
.proPosition:hover div{transition:.3s all ease;opacity:1;}
.proPosition h3{font-size: 36px;float:left;width:100%;line-height:340px;}
.proPosition div{float:left;width:50%;margin-top:102px;font-size: 16px;opacity:0;}
.proPosition div p{height:30px;text-align:left;}
.proPosition a{color:white;}
.proPosition a:hover{text-decoration: underline;}
/*news*/
.news{height:780px;width:100%;background:url(../images/news_bg.jpg) center top;position:relative;}
.news-top{height:280px;text-align:center;color:#000000;}
.news-top h2{font-size:30px;padding-top:79px;}
.news-top h3{font-size:48px;}
.news-top h4{width:100px;font-size:24px;color:#c00000;border-bottom:2px solid #c00000;padding-bottom:7px;margin:0 auto;}

.news-btm{width:1220px;height:500px;margin:0 auto;position: relative;}
.news-btm ul{width:108%;height:390px;}
.news-btm li{width:380px;background:white;margin-right:40px;overflow:hidden;height:100%;}
.noMargin{margin-right:0px;}
.news-btm .pic{width:100%;height:280px;}
.news-btm li:hover img{transform: scale(1.1);transition: all 1s ease;}
.news-btm li a:hover {background:#014f7f;}
.news-btm a:hover h3{color:white;}
.news-btm a:hover p{color:white;}
.news-btm li a{display:block;width:100%;height:100%;}
.news-btm .txt{width:100%;height:110px;}
.news-btm .txt h3{text-align:center;padding:0 30px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;font-size:16px;color:#333;height:76px;line-height:76px;}
.news-btm .txt p{text-align:center;font-size:14px;color:#bebebe;}
.news .more{font-size:16px;text-align:right;position:absolute;right:0;bottom:36px;}
.news .more:hover{text-decoration:underline;}

/*achiv*/
.achiv{height:978px;}
.achiv-top{height:280px;text-align:center;color:#000000;}
.achiv-top h2{font-size:30px;padding-top:79px;color:#d2d2d2;}
.achiv-top h3{font-size:48px;color:#d2d2d2;}
.achiv-top h4{width:100px;font-size:24px;color:#c00000;border-bottom:2px solid #c00000;padding-bottom:7px;margin:0 auto;}

.achiv-btm{width:1454px;height:530px;margin:0 auto;}
.achiv-btm-l{width:918px;height:100%;}
.achiv-btm-r{width:500px;height:100%;}
.smallBanner{width:100%;overflow:hidden;height:476px;position:relative;}
.smallBanner{height:476px;}
.smallBanner ul{width:100%;height:100%;position:relative;}
.smallBanner li{height:100%;position:absolute;float:left;opacity:0;transition:.8s all ease;left:0;top:0;}
.smallBanner li.cur{opacity:1;}
.smallBanner li div{position:absolute;left:0;bottom:0;height:146px;background:rgba(0,0,0,.6);width:100%;color:white;}
.smallBanner li div h4{color:white;height:68px;line-height:68px;font-size:26px;padding-left:42px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.smallBanner li div p{color:white;font-size:18px;line-height:22px;padding:0 32px;overflow:hidden;text-overflow: ellipsis;}
.achiv-btm-l h3{height:54px;font-size:30px;padding-left:8px;}
.achiv-btm-l h3 span{font-size:17px;}
.achiv-btm-r h3 span{font-size:17px;}
.sBanner_prev{position:absolute;width:80px;height:80px;left:-80px;top:48%;margin-top:-40px;font-size:82px;transition:.8s all ease;color:white;cursor:pointer;}
.sBanner_next{position:absolute;width:80px;height:80px;right:-80px;top:48%;margin-top:-40px;font-size:82px;transition:.8s all ease;color:white;cursor:pointer;}
.smallBanner:hover .sBanner_prev{left:1%;}
.smallBanner:hover .sBanner_next{right:1%;}
.sBanner_prev:hover{color:#000;}
.sBanner_next:hover{color:#000;}

.achiv-btm-r h3{height:54px;font-size:30px;padding-left:8px;}
.iconPic{width:100%;height:476px;position:relative;}
.iconPic ul.iconList{width:100%;padding-top:34px;height:476px;}
.iconList li{width:50%;float:left;}
.iconPic div{position:absolute;left:50%;margin-left:-48px;bottom:0;}
.iconPic span{float:left;width:10px;height:10px;background:#ddd;border-radius:50%;margin-right:8px;transition:.3s all ease;}
.iconPic span.on{background:#014f7f;}
.iconPicFa{position:absolute;left:0;top:0;opacity:0;transition:.3s all ease;}
.iconPicFa li{margin-bottom:5px;}
.iconPicFa.cur{opacity:1;}
.iconPic>ul{position:relative;height:100%;cursor:pointer;}


/* foot */
.bg_blue{ background:#015b8b; padding:40px 0px;}
.footer_nav dl{width:14%; color:#fff; display:block; float:left; min-height:230px;}
.footer_nav dl dt{ font-size:17px; height:41px; line-height:41px;}
.footer_nav dl dd a{ color:#fff; font-size:13px; height:22px; line-height:22px;}
.footer_nav dl dd a:hover{ color:#89c3d0;}
.bg_gray{ background:#7c7c7c; border-bottom:3px solid #c0c2cc; padding:20px 0px;}
.company li{ color:#bcbcbc; font-size:13px; line-height:22px;}
.company li h3{ color:#d3d3d3; font-size:17px; padding-bottom:10px;}
.company li h4{ font-size:14px; text-align:left; width:300px;}
.f_right{ float:right;}
.f_left{ float:left;}
.company .w_1360{ text-align:center; font-size:14px; font-weight:bolder;}
.company .w_1360 img{ margin:4px 4px -6px;}



/*BIM program 1*/
.bim_pro_banner{background:url(../images/bim_pro_banner.jpg) center top;width:100%;height:593px;}
.container{width:1200px;margin:0 auto;line-height:24px;}
.container h4{font-size:16px;}
.txt1{width:100%;height:292px;}
.txtIndent{text-indent:30px;}
.container img{margin:0 auto;}
.txt2{margin-top:162px;margin-bottom:16px;}
h4{text-align:center;}
.txt3{margin:66px 0 96px;}
.appList li{height:370px;}
.appList div{float:left;}
.appList img{float:right;}
.list1{width:632px;}
.appList h4{text-align:left;margin-bottom:40px;}
.appList h4.margin20{margin-bottom:20px;}
.list2{width:506px;}
.list3, .list4{width:742px;}
.list5{width:608px;}
.list6{width:608px;}
.list7{width:608px;}
li.height420{height:420px;}
li.height1402{height:1422px;}
.downLoad {margin:85px 72px;}
.downLoad h4{text-align:left;}
.downLoad a{display:block;margin-top:50px;}
.downLoad a:hover{text-decoration:underline;}










