body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { padding:0; margin:0;font-family:"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;font-size: 12px;font-weight: 400;}
li { list-style:none; }
img { border:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }

.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

/***********top**********/
#top{
	width:100%;
	height:35px;
	border-bottom:1px solid #ededed;
	background:#f5f5f5;
	color:#666;
	}
.t{
	width:1190px;
	margin:0 auto;
	}
.t{
	line-height:35px;
	}
.t_fl{
	float:left;
	}
.t_fr{
	float:right;
	}
.t li{
	float:left;
	}
.t a{
	color:#666;
	padding:0px 2px;
	}
.t .style-red{
	color:#C81623;
	}
.list_f{
	position:relative;
	padding-right:14px;
	height:35px;
	width:52px;
	}
.site-nav-icon{
	height:7px;
	width:9px;
	overflow: hidden;
	display:block;
	position:absolute;
	top:15px;
	right:2px;
	background:url(../images/ico.png) no-repeat 0px -8px;
	}

.spacer{
	display:inline-block;
	width: 1px;
	height: 12px;
	margin:0px 5px;
	margin-top:12px;
	background: #ddd;
	overflow: hidden;
	padding:0px;
	}
	
/*ta_sub*/
.ta_sub{
	height:111px;
	position:relative;
	}
.logo{
	width:200px;
	height:111px;
	float:left;
	}
.logo a{
	display:block;
	background:url(../images/logo.png) no-repeat;
	width:188px;
	height:45px;
	margin-top:38px;
	}
.search{
	position:absolute;
	left:475px;
	top:27px;
	}
.search_txt{
	height:34px;
	line-height:34px;
	width:457px;
	background:#f5f5f5;
	color:#999;
	border:0px;
	float:left;
	padding:2px 4px;
	}
.search_btn{
	height:38px;
	width:46px;
	background:#1c76d7;
	border:0px;
	color:#fff;
	font-size:14px;
	float:left;
	}
.hot_word{

	}
.hot_word li{
	float:left;
	line-height:35px;
	}
.search_hot_w a{
	color:#999;
	}
.hot_s{
	position:absolute;
	right:0px;
	top:27px;
	}
.hot_s a{
	display:block;
	width:165px;
	height:50px;
	background:url(../images/logo.png) 0px -50px no-repeat;
	}
	
/*nav*/
#nav{
	width:100%;
	border-bottom:3px solid #1a77d6;
	height:41px;
	}
.n_l_r{
	position:relative;
	z-index:999;
	height:41px;
	width:211px;
	float:left;
	}
.service_nav{
	height:44px;
	width:181px;
	position:absolute;
	background:#000;
	padding:0px 15px;
	bottom:-3px;
	}
.service_nav h3{
	color:#fff;
	font-size:14px;
	}
.service_list_bg{
	height:502px;
	background:#000;
	padding:0px 15px;
	width:181px;
	position:absolute;
	bottom:-505px;
	filter:alpha(opacity=90); /*IE滤镜，透明度50%*/
	opacity:0.9;/*其他，透明度50%*/
	z-index:998;
	}
.service_list{
	height:482px;
	padding:10px 15px;
	width:181px;
	position:absolute;
	bottom:-505px;
	-overflow:hidden;
	z-index:999;
	}	
.nav_Nav{
	position:relative;
	float:left;
	}
.nav_Nav ul{
	padding:0px 30px;
	}
.nav_Nav li a{
	color:#000;
	font-size:16px;
	font-weight:400;
	padding:0px 20px;
	line-height:41px;
	}

.service_list a,.service_list i{
	font-size:14px;
	color:#fff;
	}
.item{
	position:relative;
	height:36px;
	line-height:36px;
	}
.item.active{
	background:#fff;
	}
.item.active a{
	color:#000;
	}
.item h3{
	position:absolute;
	width:170px;
	overflow:hidden;
	height:34px;
	line-height:34px;
	}
.item h3 span ,.item h3 a{
	float:left;
	}
.item i{
	font:400 10px consolas;
	position:absolute;
	height:10px;
	line-height:10px;
	right:0px;
	top:12px;
	}
.listBox{
	position:absolute;
	top:0px;
	left:177px;
	width:730px;
	height:450px;
	background:#fff;
	display:none;
	z-index:100;
	padding:20px;
	}
.fore1{ clear:both;}
.item .fore1 dt a{ font-weight:bolder; color:#666; height:36px; line-height:36px; padding:0 10px;}
.item .fore1 dt a:hover{ color:#C81623;}
.item .fore1 dd a{ color:#666; padding:0px 10px; font-size:12px; height:36px; line-height:36px; border-left:1px solid #e0e0e0;}
.fore1 dd{ border-bottom:1px solid #e0e0e0;}
.fore1 dt{ float:left;}
	
/*slider*/

.slider{
	height:502px;
	position:relative;
	overflow:hidden;
	}
.slider .slider_img{
	z-index:10;
	position:absolute;
	height:502px;
	overflow:hidden;
	left:0px;
	}
.slider .slider_img li{
	width:1190px;
	overflow:hidden;
	float:left;
	background:red;
	}
.slider .slider_img li a{
	padding:0px;
	}
.slider .slider_n{
	overflow:hidden;
	height:10px;
	position:absolute;
	bottom:30px;
	text-align:center;
	width:100%;
	z-index:11;
	}
.slider .slider_n span{
	display:inline-block;
	width:30px;
	height:10px;
	background:#f8fefe;
	margin:10px 5px;
	margin:0 auto;
	}
.slider .slider_n span.active{
	background:#2e3430;
	}
.show_box{
	width:210px;
	height:490px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:999;
	}
.show_box div{
	overflow:hidden;
	width:210px;
	height:236px;
	margin-bottom:9px;
	position:relative;
	opacity:0.9;
	filter:alpha(opacity=90);
	}
.show_box div span{
	position:absolute;
	width:20px;
	height:20px;
	background:url(../images/y.png) no-repeat;
	top:22px;
	right:8px;
	display:block;
	color:#fff;
	font-family:simsun;
	text-align:center;
	line-height:20px;
	border-radius:100%;
	font-size:15px;
	cursor:pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	}
	
/*限时特卖*/
#main{
	overflow:hidden;
	width:1190px;
	}
.time_limit{
	margin-top:47px;
	}	
.time_limit .time_limit_title{
	height:36px;
	line-height:36px;
	padding-bottom:4px;
	width:100%;
	background:url(../images/time_limit_ico.png) repeat-x bottom;
	}

.time_limit .time_limit_title .ipt{
	font-size:19px;
	font-weight:bolder;
	padding:0px 5px;
	cursor:pointer;
	}
.time_limit .time_limit_title .ipt.active{
	color:#1871d9;
	}
.time_limit .time_limit_title .ico{
	height:36px;
	width:58px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat 0px -57px;
	}
.time_limit .time_limit_title span{
	display:block;
	height:4px;
	width:76px;
	position:absolute;
	bottom:0px;
	left:75px;
	background:#1871d9;
	}
.time_limit_list{
	margin:15px 0px 35px;
	height:365px;
	width:1186px;
	border:1px solid #ddd;
	border-left:0px;
	padding:0px;
	display:none;
	overflow:hidden;
	}	
.time_limit_list.active{
	display:block;
	}	
.time_limit_list li{
	width:236px;
	height:365px;
	border-left:1px solid #ddd;
	}
.time_limit_list a,.time_limit_list span{
	display:block;
	text-align:center;
	}
.time_limit_list .price{
	font-size:19px;
	color:#ed0003;
	font-weight:500;
	}
.time_limit_list span{
	color:#999;
	}
.time_limit_list .trade_name,.time_limit_list .price{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:3px 10px;
	}
/*rem_wrap*/
.rem_wrap{
	margin-bottom:40px;
	}
.rem_title{
	border-bottom:3px solid #000;
	position:relative;
	line-height:56px;
	height:56px;
	}
.rem_title h3{
	line-height:56px;
	height:56px;
	border-bottom:3px solid #2072d5;
	display:inline-block;
	position:absolute;
	}
h3{
	font-size:24px;
	color:#2072d5;
	}
.rem_list{
	margin-top:20px;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	width:1185px;
	}
.rem_list li{
	width:147px;
	height:99px;
	line-height:99px;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	}
.rem_list li a{
	display:block;
	width:147px;
	height:99px;
	line-height:99px;
	padding:0px;
	overflow:hidden;
	}
.floor{
	padding-bottom:39px;
	overflow:hidden;
	}
.floor .f_title{
	height:51px;
	border-bottom:3px solid #000;
	padding-left:30px;
	position:relative;
	overflow:hidden;
	
	}
.floor .f_title span{
	position:absolute;
	left:0px;
	top:0px;
	background:#1f78d4;
	display:block;
	color:#fff;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	z-index:999;
	}
.floor .f_title i{
	position:absolute;
	left:16px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	_border-left: 16px solid white;
	_border-right: 16px solid white;
	border-top: 16px solid #1f78d4;
	left:0px;
	}
.floor .f_title i.d_ico{
	top:16px;
	left:-16px;
	}

.floor .f_title h3{
	height:51px;
	line-height:51px;
	float:left;
	padding-right:10px;
	}
.floor .f_title ul{
	float:left;
	padding-top:11px;
	height:40px;
	line-height:40px;
	color:#999;
	}
.f_list{
	width:1189px;
	height:520px;
	border-left:1px solid #ddd;
	overflow:hidden;

	}
.f_list_left{
	width:203px;
	height:520px;
	border-right:1px solid #ddd;
	float:left;
	overflow:hidden;
	}
.f_list_left li{
	border-bottom:1px solid #ddd;
	}
.f_list_left li.active{
	height:83px;
	overflow:hidden;
	}
.f_list_left li{
	height:31px;
	width:203px;
	padding:10px 0px;
	overflow:hidden;
	font-size:13px;
	}
.f_list_left li span p{
	font-size:14px;
	}
.f_list_left li span{
	display:block;
	float:left;
	
	}

.f_list_left li span.n{
	width:30px;
	text-align:center;
	}
.f_list_left li span.txt{
	width:112px;
	}
.f_list_left li.active span.txt{
	width:92px;
	}
.f_list_left li span.img{
	width:0px;
	overflow:hidden;
	}
.f_list_left li.active span.img{
	width:73px;
	height:73px;
	overflow:hidden;
	}
	
.f_list_left li span.pr{
	width:60px;
	color:#930;
	
	}
.f_list_left li.active span.pr{
	width:0px;
	overflow:hidden;
	}

.f_list_right{
	float:left;
	width:985px;
	height:519px;
	
	}
.sp_ul_warp{
	float:left;
	width:590px;
	height:260px;
	overflow:hidden;
	position:relative;
	border-right:1px solid #ddd;
	}
.sp_ul_warp .prev,.sp_ul_warp .next{
	position:absolute;
	top:50%;
	cursor:pointer;
	width:40px;
	height:80px;
	background:#000;
	margin-top:-40px;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	color:#999;
	font-size:40px;
	line-height:80px;
	text-align:center;
	font-family:simsun;
	font-weight:bold;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	}
.sp_ul_warp .prev{
	left:0px;
	
	}
.sp_ul_warp .next{
	right:0px;
	}
.sp_ul_warp ul{
	height:260px;
	position:absolute;
	width:3000px;
	left:0px;
	}
.sp_ul_warp li{
	float:left;
	height:260px;
	width:590px;
	}
.sp_list{
	float:left;
	width:196px;
	height:219px;
	padding:20px 0px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	}
.sp_list a{ display:block; padding:2px 26px; overflow:hidden;}
.sp_list .trade_name{ font-size:16px; color:#000; height:30px; line-height:30px;}
.sp_list .price{ height:22px; line-height:22px;}
.sp_list a img{ width:156px; height:156px; padding-top:20px;}
.l_list_09{
	overflow:hidden;
	}
.l_list_09 li{
	float:left;
	width:237px;
	height:127px;
	padding-top:22px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	}
.l_list_09 li.first_h{
	padding:0px;
	height:299px;
	width:236px;
	border-left:1px solid #ddd;
	overflow:hidden;
	}
.l_list_09 li .p_img{ width:110px; height:110px; overflow:hidden; float:left;}
.l_list_09 li .p_img img{ width:110px; height:110px;}
.l_list_09 li .p_name{ width:120px; overflow:hidden; height:40px; padding:3px 2px;}
.l_list_09 li .p_name a{height:20px; line-height:20px;}
.l_list_09 li .p_price{ width:120px; overflow:hidden; height:30px;}
.l_list_09 li .p_price a{ padding:0px 10px; height:30px; line-height:30px; color:#C00; font-size:17px;}	
	
	
.l_list_09 li.first_h .p_img{ width:200px; height:200px; margin:0 18px; overflow:hidden;}
.l_list_09 li.first_h .p_img img{ width:200px; height:200px;}
.l_list_09 li.first_h .p_name ,.l_list_09 li.first_h .p_price{ width:100%;}
.l_list_09 li.first_h .p_name a{ padding:0px 10px; height:20px; line-height:20px;}
.l_list_09 li.first_h .p_price a{ padding:0px 10px; height:30px; line-height:30px; color:#C00; font-size:17px;}


#footer{
	width:1190px;
	margin:0 auto;
	}
.service{
	border:1px solid #ddd;
	border-right:0px;
	height:118px;
	width:1189px;
	margin-bottom:30px;
	}
.service li{
	float:left;
	border-right:1px solid #ddd;
	height:60px;
	padding:29px 40px;
	width:216px;
	background:#f6f6f6;
	}

.service li img{
	float:left;
	height:60px;
	width:60px;
	}
.service li span{
	float:left;
	display:block;
	width:140px;
	height:60px;
	margin-left:10px;

	}
.service li span strong{
	display:block;
	font-size:19px;
	height:39px;
	line-height:39px;
	}
.f_nav{
	overflow:hidden;
	margin-bottom:30px;
	}
.sm{
	float:left;
	padding:0px 80px;
	width:108px;
	}
.f_nav dl{
	float:left;
	width:130px;
	padding:0px 10px;
	}
.f_nav dl dt{
	font-size:18px;
	padding-bottom:12px;
	font-weight:400;
	}
.f_nav dl dd{
	line-height:24px;
	height:24px;
	font-size:13px;
	}
.f_nav dl.n_left{
	border-right:1px solid #ddd;
	text-align:right;
	}
.f_nav dl.n_right{
	border-left:1px solid #ddd;
	text-align:left;
	}
#bottom_70{
	height:50px;
	text-align:center;
	background:#222;
	padding-top:20px;
	}
#bottom_70 a{
	color:#fff;
	padding:0px 5px;
	}
#bottom_70 span{
	color:#fff;
	display:block;
	height:20px;
	line-height:20px;
	}
		







